# do not clone checkpoints
**/.ipynb_checkpoints

# ignore all .DS_Store files
**/.DS_Store

# ignore all py-cache files
**/.pyc
/tutorial_notebooks/__pycache__/

# ignore solutions to exercises\solutions
/exercise_notebooks/solutions/

/tutorial_notebooks/work-in-progress/
/tutorial_notebooks/solutions/