imblearn==0.0
jupyterlab==3.4.8
jupyterlab-spellchecker==0.7.2
lime==0.2.0.1
matplotlib==3.3.3
matplotlib-inline==0.1.6
mlxtend==0.21.0
nodejs==0.1.1
numpy==1.23.3
pandas==1.5.0
scikit_learn==1.1.2
scipy==1.9.2
scorecardpy==0.1.9.2
seaborn==0.12.0
shap==0.41.0
statsmodels==0.13.2
tqdm==4.64.1
xgboost==1.6.2
yellowbrick==1.5